@charset "UTF-8";

@keyframes aparecer{
    from{
        transform: scale(0.2);
    }

    to{
        transform: scale(1);
    }
}

:root{
    --cor1: rgba(4, 4, 88, 0.822);
    --cor2: rgb(89, 46, 22);
    --cor3: rgb(32, 98, 32);
    --cor4: rgb(77, 77, 21);
    --cor5: rgb(21, 88, 86);
}

*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
    width: 0px;
}

body{
    background-color: gray;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: var(--cor4);
    color: white;
    padding: 50px 0px 0px 0px;

    h1{
        font-weight: normal;
    }

    h1, p{
        text-align: center;
    }

    p{
        padding: 10px 0px 56px 0px;
    }

    nav{
        background-color: var(--cor5);
        padding: 4px 8px;
        display: flex;
        gap: 0px 10px;

        a{
            border-radius: 8px;
            color: white;
            padding: 14px 6px;
            text-decoration: none;
        }

        a:hover{
            background-color: var(--cor1);
        }
    }
}

main{
    background-color: rgb(184, 184, 155);
    padding: 10px 8px;

    h2{
        color: var(--cor1);
        font-size: 1.8em;
        font-weight: normal;
        padding: 10px 0px 10px 0px;
        text-align: center;
    }

    section{
        margin: auto;

        #tabela{
            margin: 0px auto 24px auto;
            overflow-x: auto;

            table{
                border-collapse: collapse;
                margin: auto;
    
                caption{
                    color: var(--cor3);
                    font-size: 1.1em;
                    font-weight: bold;

                    padding: 0px 0px 8px 0px;
    
                    span{
                        color: var(--cor1);
                    }
                }
    
                thead, tfoot{
                    background-color: var(--cor1);
                    color: white;
    
                    th, td{
                        font-size: 0.8em;
                        padding: 8px;
                    }
                }

                tbody{
                    tr:nth-child(even){
                        background-color: rgba(32, 98, 32, 0.651);
                        color: white;
                    }

                    td{
                        font-size: 0.8em;
                        padding: 8px;
                        text-align: center;
                    }
                }
    
            }

            tfoot{

                td{
                    text-align: center;
                }
            }
    
            table, td, th{
                border: 1px solid black;
            }
        }

        #configuracoes{

            fieldset{
                border: 1px solid var(--cor5);
                border-radius: 7px;
                gap: 12px 8px;
                padding: 10px;

                legend{
                    color: var(--cor1);
                    font-weight: bold;
                    padding: 0px 4px;
                }

                button{
                    background-color: var(--cor5);
                    border: none;
                    border-radius: 8px;
                    color: white;
                    cursor: pointer;
                    padding: 16px 8px;
                }
            }
        }
    }
}

main > div#janela-adicionar-produto, main > div#janela-editar-produto, main > div#janela-editar-loja{
    display: none;
}

/* main > div#janela-editar-produto{
    display: block;
} */

main > div{
    align-content: center;
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(10px);
    display: block;
    height: 100vh;
    justify-items: center;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;

    .caixa{
        background-color: white;
        border-radius: 10px;

        .cabecalho{
            h3{
                background-color: var(--cor4);
                border-radius: 10px 10px 0px 0px;
                color: white;
                font-weight: normal;
                padding: 13px 8px;
            }
        }

        .inputs{
            display: grid;
            gap: 14px 0px;
            padding: 8px;

            p{
                
                label{
                    color: var(--cor5);
                    display: inline-block;
                    font-weight: bold;
                    margin-bottom: 5px;
                }

                input{
                    background-color: rgba(184, 184, 155, 0.37);
                    border-radius: 6px;
                    display: block;
                    font-size: 0.9em;
                    padding: 8px 4px;
                }
            }
        }

        .mensagem{
            font-style: italic;
            padding: 14px 8px;
        }

        .botoes{
            align-content: center;
            display: grid;
            gap: 10px;
            grid-auto-rows: 50px;
            padding: 8px;

            button{
                border: none;
                border-radius: 8px;
                color: white;
                cursor: pointer;
                font-size: 0.9em;
                /* padding: 14px 4px; */
            }

            .btn-cancelar{
                background-color: darkred;
            }

            .btn-salvar{
                background-color: var(--cor5);
            }
        }
    }
}

footer{
    background-color: var(--cor4);
    color: white;
    display: grid;
    gap: 30px 0px;
    padding: 26px 10px;
    text-align: center;

    div{
        display: grid;
        gap: 10px 0px;
    }
}