@charset "UTF-8";

header{

    h1{
        font-size: 2em;
    }

    p{
        font-size: 0.95em;
    }

    nav{

        a{
            font-size: 0.95em;
        }
    }
}

main{
    max-width: 600px;
    margin: auto;

    section{

        h2{
            font-size: 1.62em;
        }

        div{
            margin: auto;
            width: 95%;
        }

        #tabela{

            table{
                width: 90%;

                caption{
                    font-size: 1em;
                }
            }
        }


        #configuracoes{


            fieldset{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                button{
                    width: 48%;
                }
            }
        }
    }
}

main > div{
    
    .caixa{
        width: 70%;

        .cabecalho{

            h3{
                font-size: 1em;
            }
        }

        .inputs{

            label{
                font-size: 0.86em;
            }

            input{
                width: 175px;
            }
        }

        .botoes{
            grid-template-columns: auto;
        }
    }
}

main > div#janela-editar-produto{

    .caixa{

        .inputs{

            grid-template-areas: 'nome nome'
            'preco preco'
            'id quantidade';

            #p-id{
                grid-area: id;

                input{
                    width: 100px;
                }
            }

            #p-nome{
                grid-area: nome;
            }

            #p-preco{
                grid-area: preco;
            }

            #p-quantidade{
                grid-area: quantidade;

                input{
                    width: 100px;
                }
            }
        }
    }
}