@charset "UTF-8";

header{

    h1{
        font-size: 2.6em;
    }
}

main{

    section{
        display: grid;
        grid-template-areas: 'titulo configuracoes'
        'tabela configuracoes';
        width: 95%;

        h2{
            font-size: 1.8em;
            grid-area: titulo;
        }

        #tabela{
            grid-area: tabela;
            margin-bottom: 0px;
            width: 90%;

            table{
                width: 100%;
            }
        }

        #configuracoes{
            grid-area: configuracoes;
            justify-self: end;
            width: 90%;

            fieldset{
                display: grid;
            }
        }
    }
}

main > div{

    .caixa{
        display: grid;
        grid-template-areas: 'cabecalho cabecalho'
        'inputs botoes'
        'mensagem mensagem';
        min-width: 580px;

        .cabecalho{
            grid-area: cabecalho;

            h3{
                font-size: 1em;
            }
        }

        .inputs{
            align-content: center;
            grid-area: inputs;

            input{
                width: 210px;
            }
        }

        .mensagem{
            grid-area: mensagem;
            
            p{
                padding: 0px 0px 8px 0px;
            }
        }

        .botoes{
            grid-area: botoes;
            justify-content: end;

            button{
                width: 260px;
            }
        }

    }
}

footer{

    div{

        span{
            font-size: 0.9em;
        }
    }
}