@charset "UTF-8";

header{

    h1{
        font-size: 2.3em;
    }
}

main{

    section{
        width: 90%;

        #tabela{
            width: 100%;

            table{
                width: 100%;

                thead{
                    
                    th, td{
                        font-size: 0.9em;
                    }
                }

                tbody{

                    th, td{
                        font-size: .9em;
                    }
                }

                tfoot{

                    th, td{
                        font-size: .9em;
                    }
                }
            }
        }

        #configuracoes{


            fieldset{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                button{
                    font-size: 0.9em;
                }
            }
        }
    }
}

main > div{

    .caixa{
        width: 70%;

        .cabecalho{

            h3{
                font-size: 1em;
            }
        }

        .inputs{

            input{
                width: 235px;
            }
        }

        .botoes{
            grid-template-columns: auto auto;
        }
    }
}

footer{

    div{

        span{
            font-size: 0.9em;
        }
    }
}