@charset "UTF-8";

/* body{
    overflow-x: scroll;
} */

header{

    p{
        font-size: 0.9em;
    }

    nav{

        a{
            font-size: 0.9em;
        }
    }
}

main{
    section{

        h2{
            font-size: 1.57em;
        }

        #tabela{

            table{

                caption{
                    font-size: 0.97em;
                }

                thead{
                    
                    th, td{
                        font-size: 0.8em;
                    }
                }

                tbody{

                    th, td{
                        font-size: .8em;
                    }
                }

                tfoot{

                    th, td{
                        font-size: .8em;
                    }
                }
            }
        }

        #configuracoes{

            fieldset{
                display: grid;
                grid-template-columns: 1fr;

                legend{
                    font-size: 0.98em;
                }

                button{
                    width: 100%;
                }
            }
        }
    }
}

main > div{

    .caixa{

        .cabecalho{

            h3{
                font-size: 0.93em;
            }
        }
    }
}