@charset "UTF-8";

header{

    h1{
        font-size: 2.3em;
    }
}

main{

    section{
        width: 90%;

        #tabela{
            width: 100%;

            table{
                width: 100%;

                thead{
                    
                    th, td{
                        font-size: 0.9em;
                    }
                }

                tbody{

                    th, td{
                        font-size: .9em;
                    }
                }

                tfoot{

                    th, td{
                        font-size: .9em;
                    }
                }
            }
        }

        #configuracoes{


            fieldset{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                button{
                    font-size: 0.9em;
                }
            }
        }
    }
}

main > div{

    .caixa{
        width: 70%;

        .cabecalho{

            h3{
                font-size: 1em;
            }
        }

        .inputs{

            label{
                font-size: 0.88em;
            }

            input{
                width: 200px;
            }
        }

        .botoes{
            grid-template-columns: auto auto;
        }
    }
}

main > #janela-adicionar-produto{

    .caixa{
        width: 420px;

        .inputs{
            grid-template-areas: 'nome preco'
            'quantidade quantidade';

            .p-nome-add{
                grid-area: nome;
            }

            .p-preco-add{
                grid-area: preco;

                input{
                    width: 115px;
                }
            }

            .p-quantidade-add{
                grid-area: quantidade;

                input{
                    width: 115px;
                }
            }
        }
    }
}

main > div#janela-editar-produto{

    .caixa{
        width: 460px;

        .inputs{
            display: grid;
            grid-template-areas: 'nome id'
            'preco quantidade';

            #p-id{
                grid-area: id;

                input{
                    width: 120px;
                }
            }

            #p-nome{
                grid-area: nome;
            }

            #p-preco{
                grid-area: preco;
            }

            #p-quantidade{
                grid-area: quantidade;

                input{
                    width: 120px;
                }
            }
        }
    }
}

footer{

    div{

        span{
            font-size: 0.9em;
        }
    }
}