@charset "UTF-8";

header{

    h1{
        font-size: 2.6em;
    }
}

main{
    /* width: 100%; */
    
    section{
        display: grid;
        grid-template-areas: 'titulo configuracoes'
        'tabela configuracoes';
        width: 95%;

        h2{
            font-size: 1.8em;
            grid-area: titulo;
        }

        #tabela{
            grid-area: tabela;
            margin-bottom: 0px;
            width: 90%;

            table{
                width: 100%;
            }
        }

        #configuracoes{
            grid-area: configuracoes;
            justify-self: end;
            width: 90%;

            fieldset{
                display: grid;
            }
        }
    }
}

main > div{

    .caixa{
        display: grid;
        grid-template-areas: 'cabecalho cabecalho'
        'inputs botoes'
        'mensagem mensagem';
        width: 500px;

        .cabecalho{
            grid-area: cabecalho;

            h3{
                font-size: 1em;
            }
        }

        .inputs{
            align-content: center;
            grid-area: inputs;

            label{
                font-size: 0.9em;
            }

            input{
                width: 210px;
            }
        }

        .mensagem{
            grid-area: mensagem;

            p{
                padding: 0px 0px 8px 0px;
            }
        }

        .botoes{
            font-size: 1em;
            grid-area: botoes;
            justify-content: end;

            button{
                width: 200px;
            }
        }
    }
}

main > #janela-adicionar-produto{

    .caixa{

        .inputs{
            grid-template-areas: 'nome nome'
            'preco quantidade';

            .p-nome-add{
                grid-area: nome;

                input{
                    width: 227px;
                }
            }

            .p-preco-add{
                grid-area: preco;

                input{
                    width: 100px;
                }
            }

            .p-quantidade-add{
                grid-area: quantidade;

                input{
                    width: 100px;
                }
            }
        }
    }
}

main > #janela-editar-produto{

    .caixa{

        .inputs{
            column-gap: 10px;
            grid-template-areas: 'nome id'
            'preco quantidade';

            #p-id{
                grid-area: id;

                input{
                    width: 90px;
                }
            }

            #p-nome{
                grid-area: nome;

                input{
                    width: 120px;
                }
            }

            #p-preco{
                grid-area: preco;

                input{
                    width: 120px;
                }
            }

            #p-quantidade{
                grid-area: quantidade;

                input{
                    width: 90px;
                }
            }
        }

        .botoes{
            align-content: center;
        }
    }
}

footer{

        div{
    
            span{
                font-size: 0.9em;
            }
        }
}