@charset "UTF-8";

/* body{
    overflow-x: scroll;
} */

header{

    p{
        font-size: 0.9em;
    }

    nav{

        a{
            font-size: 0.9em;
        }
    }
}

main{
    section{

        h2{
            font-size: 1.57em;
        }

        #tabela{

            table{

                caption{
                    font-size: 0.97em;
                }

                thead{
                    
                    th, td{
                        font-size: 0.8em;
                    }
                }

                tbody{

                    th, td{
                        font-size: .8em;
                    }
                }

                tfoot{

                    th, td{
                        font-size: .8em;
                    }
                }
            }
        }

        #configuracoes{

            fieldset{
                display: grid;
                grid-template-columns: 1fr;

                legend{
                    font-size: 0.98em;
                }

                button{
                    width: 100%;
                }
            }
        }
    }
}

main > div#janela-editar-produto{

    .caixa{        
        min-width: 220px;
        width: 76%;
        .inputs{
            display: grid;
            grid-template-areas: 'nome'
            'preco'
            'id'
            'quantidade';

            #p-id{
                grid-area: id;

                input{
                    width: 80px;
                }
            }

            #p-nome{
                grid-area: nome;
            }

            #p-preco{
                grid-area: preco;

                input{
                    
                }
            }

            #p-quantidade{
                grid-area: quantidade;

                input{
                    width: 80px;
                }
            }
        }
    }
}

main > div{

    .caixa{

        .cabecalho{

            h3{
                font-size: 0.93em;
            }
        }

        .inputs{

            input{
                input{
                    padding: 5px;
                }
            }
        }
    }
}

main > #janela-adicionar-produto{

    .caixa{
        width: 70%;

        .inputs{
            grid-template-areas: 'nome'
            'preco'
            'quantidade';

            .p-nome-add{
                grid-area: nome;

                input{
                    width: 140px;
                }
            }

            .p-preco-add{
                grid-area: preco;

                input{
                    width: 140px;
                }
            }

            .p-quantidade-add{
                grid-area: quantidade;

                input{
                    width: 140px;
                }
            }
        }
    }
}