@charset "UTF-8";

header{

    h1{
        font-size: 2.6em;
    }
}

main{
    width: 100%;
    
        section{
            display: grid;
            grid-template-areas: 'titulo configuracoes'
            'tabela configuracoes';
            width: 95%;
    
            h2{
                grid-area: titulo;
            }
    
            #tabela{
                grid-area: tabela;
                margin-bottom: 0px;
                width: 90%;
    
                table{
                    width: 100%;
                }
            }
    
            #configuracoes{
                align-self: center;
                grid-area: configuracoes;
                justify-self: end;
                width: 90%;
    
                fieldset{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
    
                    button{
                        width: 48%;
                    }
                }
            }
        }
}

main > div{

    .caixa{
        display: grid;
        grid-template-areas: 'cabecalho cabecalho'
        'inputs botoes'
        'mensagem mensagem';
        min-width: 560px;

        .cabecalho{
            grid-area: cabecalho;

            h3{
                font-size: 1.06em;
            }
        }

        .inputs{
            align-content: center;
            grid-area: inputs;

            label{
                font-size: 1.06em;
            }

            input{
                width: 220px;
            }
        }

        .mensagem{
            grid-area: mensagem;

            p{
                padding: 0px 0px 8px 0px;
            }
        }

        .botoes{
            font-size: 1.1em;
            grid-area: botoes;
            justify-content: end;

            button{
                width: 240px;
            }
        }
    }
}

footer{

        div{
    
            span{
                font-size: 0.9em;
            }
        }
}